/* Estilos gerais: */

* {
   margin: 0;
   padding: 0;
   gap: 0;
}

body {
   background-color: #fafdff;
}

img {
   width: 100%;
   border-radius: 4px;
}

a {
   text-decoration: none;
}

/* Bootstrap-rewrite: */

.navbar-brand {
   margin: 0;
   padding: 0;
   gap: 0;
}

.btn {
   margin: 0;
   padding: 0;
}

/* BEM: */

.mybutton {
   color: #2e4057;
   background-color: #ebf5ff;
   font-family: "Montserrat", sans-serif;
   border-radius: 3px;
   padding: 5px 12px;
   transition: 0.3s;
}

.mybutton:hover {
   color: #ebf5ff;
   background-color: #2e4057;
}

.mybutton:focus {
   color: #ebf5ff;
   background-color: #2e4057;
}

.mybutton--upper {
   text-transform: uppercase;
}

.title {
   font-size: 28px;
   font-family: "Montserrat", sans-serif;
}

.title--big {
   font-size: 40px;
   font-weight: 600;
   transition: 0.5s;
}

.title--family2 {
   font-family: "Alike", serif;
}

.text {
   font-family: "Alike", serif;
   font-size: 1rem;
}

.icon {
   width: 30px;
}

.navbar {
   background-color: #040910;
}

.navbar__logo {
   width: 75px;
   margin: 2px 8px;
}

.navbar__toggler {
   width: 50px;
   border-radius: 50px;
   border: #ebf5ff 0.2px solid;
}

.navbar__link {
   color: #ebf5ff;
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
   font-weight: 500;
}

.navbar__link:hover {
   text-decoration: underline;
}

.navbar__button {
   color: #2e4057;
}

.banner {
   background-color: #2e4057;
   padding: 5vw 7vw;
   margin-bottom: 100px;
}

.banner__sub {
   justify-items: center;
   margin: 0;
   gap: 4vw;
}

.banner__img {
   max-width: 560px;
}

.banner__col2 {
   justify-items: center;
   gap: 10px;
}

.banner__title {
   color: #d6ebff;
   font-weight: 600;
   text-align: center;
   transition: 0.5s;
}
.banner__text {
   color: #ebf5ff;
   text-indent: 2rem;
   transition: 0.5s;
}

.banner__button {
   font-weight: bold;
   font-size: 16px;
   color: #bee1fb;
   background-color: #013e99;
   padding: 7px 12px;
}

.banner__button:hover {
   background-color: #001958;
   color: #d4f2fb;
}

.banner__button:focus {
   background-color: #001958;
   color: #d4f2fb;
}

.swiper {
   margin: 2vw 5px;
   margin-bottom: 100px;
}

.swiper-button-prev,
.swiper-button-next {
   --swiper-navigation-color: #ebf5ff;
}

.card {
   width: calc(80vw / 3);
   height: calc((80vw / 3) / 0.72);
   padding: 0px;
   border-radius: 20px;
}

.card-img-top {
   height: calc((80vw / 3) / 1.3);
   width: 100%;
   object-fit: cover;
   border-radius: 20px 20px 0px 0px;
}

/* Media querrys: */
@media (max-width: 991.5px) {
   .banner__sub {
      gap: 7vw;
   }

   .banner__img {
      max-width: none;
      width: 75vw;
   }

   .banner__col2 {
      width: 75vw;
   }
}

@media (max-width: 700px) {
   .banner {
      margin-bottom: 50px;
   }

   .banner__title {
      font-size: 25px;
   }

   .banner__text {
      font-size: 15px;
   }

   .title--big {
      font-size: 29.5px;
   }

   .swiper {
      margin-bottom: 50px;
   }
}
