/* Barra de navegação: */
#logo {
   height: 75px;
}

#navbarlinks {
   justify-content: right;
}

#btn-icon {
   height: 35px;
   padding: 0px;
}

#btn {
   margin: 0;
   padding: 0;
}

#search-box {
   width: 300px;
}
